body{
  margin: 5em;
  background-color: lightgray;
}

nav{
  border-bottom: thin solid black;
}

ul{  
  padding: 0;
}

li{
  margin-right: 2em;
  margin-top: 1em;
  list-style: none;
}

main{
  padding-top: 2em;
}

main > h1{
  border-bottom: thick solid black;
}

h1>span{
  display: block;
  color: gray;
  font-style: italic;
}

article{
  margin-right: 20%;
}

footer{
  padding-top: 1em;
  border-top: thick solid black;
}

footer > p{
  margin: 0;
}

img{
  height: 1em;
  width: auto;
}

a{
  font-weight: bold;
  text-decoration: none;
}

strong{
  color: red;
}

